body{
  height: 95vh;
  width: 98%;
  font-family: 'Roboto', sans-serif;
}
.image{
  position: fixed;
  top: -200px;
  left: 0;
  display: inline-block;
  width: 100%;
}

.image img {
  display: fixed;
  width: 100%;
  z-index: -1;
}

.image::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 37%;
  background: linear-gradient(to bottom, #2D99A4, #FFFFFF00);
  pointer-events: none;
  z-index: 1;
}

.image::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 30%;
  background: linear-gradient(to right, #FFFFFF, #FFFFFF00);
  pointer-events: none;
}

header{
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  margin-top: 30px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}

.logo{
  display: flex;
}

.brand{
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #026E78;
  margin-left: 27px;
}

.number{
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-left: 27px;
}

nav{
  position: relative;
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: center;
  z-index: 1;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
li {
  display: inline;
  padding: 20px 69px;
  color: white;
  justify-content: center;
  font-size: 24px;
}
a{
  color: inherit;
  text-decoration: none;
}

.white-background{
  background: white;
  color: #026E78;
}

.teal-background{
  background: #2D99A4;
}

.dark-teal-background{
  background: #0E727B;
}

article{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  justify-content: center;
}

.try-smth-new{
  background: #0E727B;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 64px;
  border: none;
  width: 612px;
  height: 132px;
}

.book-table{
  background: white;
  font-family: 'Roboto', sans-serif;
  color: #2D99A4;
  font-weight: 300;
  font-size: 31.03px;
  border: none;
  width: 217px;
  height: 64px;
}

.menu{
  background: #2D99A4;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 31.03px;
  border: none;
  width: 271px;
  height: 64px;
}

.try-smth-new, .book-table, .menu{
  margin: 8px 18.4%;
}